@import '~antd/dist/antd.css';

.GameTile {
    overflow: hidden;
    margin: 25px;
    padding: 10px 15px;
    border: inset;
    border-radius: 40px;
    background-color: rgb(102, 125, 175);
    width: 30%;
}

.left {
    float: left;
}

.right {
    float: right
}

/* .GameTile {
    overflow: hidden;
    margin: 25px;
    padding: 10px 15px;
    border: inset;
    background-color: aquamarine;
} */

.Row {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 15px;
    text-align: right;
    color: black;
}

h1 {
    text-align: center;
    font-size: 60px;
}

h2 {
    text-align: left;
    font-size: 20px;
}

.legend_portrait {
margin-left: 0px;
margin-top: 0px;
width: 190px;
height: 180px;
border: 5px solid black;
}